.Navbar {
  /* background-color: #134e4d; */
  /* background-color: #43ab94; */
  /* background-color: #05f4be; */
  background-color: #2bb789;

  height: 17vh;
  /* font-size: 1.6rem; */
  display: flex;
  justify-content: space-between;
}
.MenuItems {
  display: flex;
  /* width: 50%; */
  justify-content: space-between;
  /* background-color: rgb(114, 117, 119); */
  align-items: center;
}
.Icons {
  display: flex;
  /* width: 50%; */
  /* margin-left: 2rem; */
  margin-right: 1.8rem;
  gap: 1rem;
  /* background-color: aliceblue; */
  align-items: center;
}
.Icon {
  /* color: #b20600; */
  font-size: 1.4rem;
  transition: all 0.5s;
  padding-left: 0.3rem;
}

.Icon:hover {
  color: aliceblue;
}

.Login {
  font-size: 1rem;
  /* padding-right: 1rem; */
  display: inline-block;
  /* background-color: rgb(131, 140, 148); */
}

.DropdownIcon {
  align-self: flex-end;
  /* color: rgb(70, 62, 62); */
  margin-bottom: -5px;
}

.DropdownMenu {
  position: absolute;
  top: 100px;
  right: 20px;
  border-radius: 5px;
  padding: 1rem;
  height: auto;
  /* background-color: #c1e205; */
  background-color: #2bb789;
  box-shadow: 1px 1px 5px lightblue inset;
}

.DropdownMenu ul {
  list-style: none;
  text-align: left;
  font-size: 1.2rem;
  transition: all 0.5s;
}

.DropdownMenu ul li {
  /* padding: 10pxpa 0; */
  padding-top: 0.3rem;
  transition: all 0.5s;
}

.DropdownMenu ul li:hover {
  color: #fd1023;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.DropdownMenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.2s;
}
.DropdownMenu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.2s;
}

.DropdownTrigger:hover {
  color: #fd1023;
}

.Logo {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  /* margin: 1rem; */
  margin-left: 1.8rem;
  /* color: crimson; */
  /* margin-top: 1rem; */
  /* background-color: yellow; */
}

@media (max-width: 900px) {
  .DesktopOnly {
    display: none;
  }
}

@media (max-width: 500px) {
  .Icon {
    font-size: 1.2rem;
  }
  .Logo {
    font-size: 1.4rem;
  }
}

/* 
  color - 5800FF  171717  DA0037  00092C  B20600
  
  */
